body{

    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    font-family: 'Roboto', sans-serif;
    background-color: #f3f4ed;
    width: 60%;
    
}

@media only screen and (max-width: 1000px) {
    body {
      background-color: lightblue;
      width: 100%;
    }
  }

.header_{
    box-shadow: 2px 2px #42464280;
    color: white;
    background-color: #536162;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.hesaplar{
    width: auto;
    cursor: pointer;
    text-align: center;
}

.hesaplar:hover{
    color: rgb(6, 55, 95);
}

.bilgiler{
    text-align: center;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    height: auto; 
    color: #536162;
    padding-bottom: 18px;
    padding-top: 2px;
}

.bilgiler a{
    text-decoration: none;
    font-size: medium;
    color: steelblue;
}

.bilgiler a:hover{
    color: rgb(6, 55, 95);
}



.icerik_{
    text-align: center;
    box-shadow: 2px 2px #42464280;
    color: white;
    background-color: #536162;
    font-size: 18px;
}

p{
    font-size: 17px;
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}

.beceriler{
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gorseller{
    display: flex;
    align-items: center;
    margin: 3px;
    background-color: #424642;
    border-radius: 5px;
}

.beceri_ikonlar{
    float: left;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.gorseller p{
    float: left;
}

hr{
    width: 30%;
}